/* Color variables */
:root {
  --h2-color: rgb(133, 70, 50);
  --h3-color: rgb(123, 40, 79);
  --secondary-1: rgb(255, 255, 255);
  --prep-time-bg: rgb(255, 245, 250);
  --body-bg: rgb(243, 230, 216);
  --secondary-4: rgb(228, 222, 216);
  --secondary-5: rgb(95, 87, 78);
  --h1-color: rgb(48, 45, 44);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
  color: var(--h2-color);

  min-height: 100%;
  background-color: var(--body-bg);
  max-width: max-content;
  margin: auto;
}

.container {
  background-color: var(--secondary-1);
  border-radius: 1rem;
  text-align: center;
  max-width: 45.9375rem;
  padding: 2.5rem;

  @media only screen and (max-width: 36rem) {
    padding: 0;
  }

  &__img {
    width: 100%;
  }
}

img {
  width: 100%;
  max-width: 40.9375rem;
  height: auto;
  margin-bottom: 2.5rem;
  border-radius: 1rem;

  @media only screen and (max-width: 36rem) {
    border-radius: 0;
  }
}

.heading {
  @media only screen and (max-width: 36rem) {
    padding: 0 2.5rem;
  }
  h1 {
    font-size: 2rem;
    color: var(--secondary-5);
    font-family: 'Young Serif';
    text-align: left;
    font-weight: 600;
  }

  p {
    margin: 0.75rem 0;
    color: var(--secondary-5);
    font-family: 'Outfit';
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
  }
}
.prep-time {
  background-color: var(--prep-time-bg);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;

  @media only screen and (max-width: 36rem) {
    margin: 0 2.5rem;
  }

  h3 {
    text-align: left;
    font-family: 'Outfit';
    font-weight: 700;
  }

  ul li {
    margin-left: 1.5rem;
    margin-top: 0.75rem;
    text-align: left;
    color: var(--h1-color);

    span {
      font-weight: 600;
    }
  }
  li::marker {
    color: var(--h2-color);
  }
}

.ingredients {
  margin: 1rem 0;

  @media only screen and (max-width: 36rem) {
    padding: 0 2.5rem;
  }

  h2 {
    font-family: 'Young Serif';
    font-size: 1.5rem;
    text-align: left;
  }

  ul li {
    margin-left: 1.5rem;
    margin-top: 0.75rem;
    text-align: left;
    color: var(--h1-color);
  }

  li::marker {
    color: var(--h2-color);
  }
}

hr {
  margin-top: 1.25rem;
  height: 0.125rem;
  color: var(--secondary-1);
}

.instructions {
  margin: 1rem 0;

  @media only screen and (max-width: 36rem) {
    padding: 0 2.5rem;
  }

  h2 {
    font-family: 'Young Serif';
    font-size: 1.5rem;
    text-align: left;
  }

  ol li {
    margin-left: 1.5rem;
    margin-top: 0.75rem;
    text-align: left;
    color: var(--h1-color);

    span {
      font-weight: 600;
    }
  }

  li::marker {
    color: var(--h2-color);
    font-weight: 600;
  }
}

.nutrition {
  margin: 1rem 0;
  @media only screen and (max-width: 36rem) {
    padding: 0 2.5rem;
  }

  h2 {
    font-family: 'Young Serif';
    font-size: 1.5rem;
    text-align: left;
  }

  p {
    margin: 0.5rem 0;
    color: var(--secondary-5);
    font-family: 'Outfit';
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
  }
}

.nutrition__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  margin-bottom: 2rem;
}

.grid-items {
  border-bottom: 0.06725rem solid var(--secondary-5);
}

.grid-items-names {
  margin: 0.5rem 0;
  color: var(--secondary-5);
  font-family: 'Outfit';
  font-size: 1rem;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  line-height: 1.5;
}

.grid-items-values {
  margin: 0.5rem 0;
  font-family: 'Outfit';
  font-size: 1rem;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: 700;
}
